{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.services.enable }}
{{ "<!-- Service Section Start -->" | safeHTML }}
<section id="service-page">
    <div class="container" style="text-align:justify">
        <div class="row"><div class="col-lg-6">
            {{ with .Site.Data.services.title }}<h1>{{ . }}</h1>{{ end }}
            {{ with .Site.Data.services.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | safeHTML }}</p>{{ end }}
        </div>
    </div>
</section>
{{ "<!-- Service Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}
